form {
    margin-bottom: 100px;

    @include very-small-mobile {
        margin-bottom: 0px;
    }
}

#regForm {
    display: none;
    position: relative;
}

.tab {

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__background {
        @include tablet {
            max-width: 243px;
            
        }

        @include very-small-mobile {
            display: none;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-left: 170px;

        @include tablet {
            padding-left: 55px;
            max-height: 273px;
            
        }

        @include very-small-mobile {
            padding-top: 50px;
            padding-left: 0;
            flex-direction: column;
            max-height: 470px;
        }
    }

    &__text {
        margin-right: 10px;
    }


    &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;  
        color: var(--color-grey);

        @include tablet {
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 10px;
        }

        @include very-small-mobile {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        max-width: 406px;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: var(--color-black);

        @include tablet {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        @include very-small-mobile {
            font-size: 20px;
            line-height: 20px;
        }

        &--wide {
            max-width: 700px;
        }
    }

    &__descr {
        max-width: 470px;
        width: 100%;
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 10px;
            
        }

        & span {
            font-weight: 700;
        }

        &--less-magin {
            max-width: 400px;
            margin-bottom: 10px;
        }

        &--italic {
            font-style: italic;
        }
    }

    &-list {
        padding-left: 60px;
        margin-bottom: 40px;

        @include tablet {
            padding-left: 20px;
            margin-bottom: 10px;
            
        }
    }


    &__btn {
        font-weight: 700;
        margin-bottom: 20px;

        &--grey {
            background-color: var(--color-grey);
        }
        &--opacity {
            background-color: transparent;
            color: var(--color-grey);
        }

        &--logo {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 26px;
                height: 24px;
                top: 17px;
                left: 261px;
                background-image: url(../../img/amazon.svg);
                background-repeat: no-repeat;

                @include tablet {
                    background-image: url(../../img/amazon-mini.svg);
                    left: 241px;
                    top: 13px;
                    
                }

                @include very-small-mobile {
                    left: 194px;
                }
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        max-width: 380px;
        width: 100%;

        @include tablet {
            max-width: 320px;
            
        }

        @include very-small-mobile {
            max-width: 280px;
        }

        & .tab__btn {
            max-width: 179px;

            @include tablet {
                max-width: 150px;
                
            }

            @include very-small-mobile {
                max-width: 130px;
            }



        }
    }
}

.tab-descr {
    position: relative;
    padding-left: 56px;

    @include tablet {
        padding-left: 34px;
        
    }

    &::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 28px;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: var(--color-black);
        background-repeat: no-repeat;
        background-position: center;

        @include tablet {
            width: 20px;
            height: 20px;
            
        }

        

        
    }

    &--one {

        &::before {
            background-position: 45% 50%;
            background-image: url(../../img/number-one.svg);

            @include tablet {
                background-image: url(../../img/number-one-small.svg);
                
            }
        }
    }

    &--two {

        &::before {
            background-image: url(../../img/number-two.svg) !important;

            @include tablet {
                background-image: url(../../img/number-two-small.svg);
                
            }
        }
    }

    &--three {

        &::before {
            background-image: url(../../img/number-three.svg) !important;

            @include tablet {
                background-image: url(../../img/number-three-small.svg);
                
            }
        }
    }

    &--four {

        &::before {
            background-image: url(../../img/number-four.svg) !important;

            @include tablet {
                background-image: url(../../img/number-for-small.svg);
                
            }
        }
    }

    &--gift {

        &::before {
            background-image: url(../../img/gift.svg) !important;

            @include tablet {
                background-image: url(../../img/gift-small.svg);
                
            }
        }
    }
}

/* Style the form */

  
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  

.pagination{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 450px !important;
    height: 100%;
    width: 15px;

    @include tablet {
        height: 275px !important;
        
    }

    @include very-small-mobile {
        flex-direction: row;
        width: 280px;
        height: 30px !important;
    }
}

  .step {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: var(--color-pag);
    border: none;
    border-radius: 50%;
    z-index: 100;

    @include tablet {
        width: 23px;
        height: 23px;
        
    }

    &:not(:first-child) p::after {
            content: '';
            position: absolute;
            top: -76px;
            left: 4px;
            height: 72px;
            width: 2px;
            background-color: var(--color-pag);
            z-index: -100;
            transition: all .3s;

            @include tablet {
                height: 43px;
                width: 1px;
                left: 3px;
                top: -42px;
                z-index: -100 !important;
                
            }

            @include very-small-mobile {
                top: 9px;
                left: -49px;
                height: 2px;
                width: 42px;
            }
    }

    & p {
        display: inline;
        position: absolute;
        height: 22px;
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: var(--color-white)
    }
  }
  
  /* Mark the active step: */
  .step.active {
    position: relative;
    background-color: var(--color-blue);



    &:not(:first-child) p::after {
        background-color: var(--color-blue);
    }

    &::before {
        position: absolute;
        content: '';
        width: 48px;
        height: 48px;
        border: 1px solid var(--color-blue);
        border-radius: 50%;
        left: -6px;
        top: -6px;

        @include tablet {
            width: 30px;
            height: 30px;
            left: -4px;
            top: -4px;
            
        }
    }

  }

.press-img {
    width: 180px;
    height: 50px;
}

.step.finish {
    background-color: var(--color-blue);

    &:not(:first-child) p::after {
        background-color: var(--color-blue);
    }
}

.post {
    display: block;

    & img {
        @include very-small-mobile {
        max-width: 225px;
        
    }
    }

    

    @include very-small-mobile {
        display: flex;
        justify-content: center;
        max-width: 280px;
    }
}


// .step-two {
//     display: flex;
//     justify-content: center;
// }
