.product-card {

    margin-bottom: 50px;

    @include tablet {
        margin-bottom: 0px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include very-small-mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__slider {
        padding: 80px 30px;
        margin-right: 50px;
        max-width: 650px;
        width: 100%;
        height: 560px;
        //height: 100%;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        @include tablet {
            padding: 44px 17px;
            height: 300px;
            max-width: 354px;
            max-height: 300px;
            margin-right: 40px;
        }

        @include very-small-mobile {
            max-height: 256px;
            margin-right: 0;
            margin-bottom: 25px;
            padding: 37px 12px;

        }
    }
}


.info {
    padding-top: 10px;

    &__grade {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 30px;
        }

    }

    &__rate {
        display: flex;
        justify-content: space-between;
    }

    &__views {
        margin-left: 10px;
    }

    &__type {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-black);
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        color: var(--color-black);  

        @include tablet {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        margin-bottom: 3px;
    }

    &__descr {
        margin-bottom: 30px;

        @include tablet {
            margin-bottom: 15px;
        }
    }

    &__count {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 35px;
        border-radius: 5px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: var(--color-red);
        color: var(--color-white);

        @include tablet {
            margin-bottom: 15px;
        }
    }

    &__prices {
        padding-top: 20px;
        margin-bottom: 20px;
        max-width: 380px;
        width: 100%;
        border-top: 1px solid var(--color-line);

        @include tablet {
            padding-top: 15px;
        }
    }

    &__price {
        text-transform: uppercase;

        &--old {
            text-decoration-line: line-through;
            margin-right: 10px;
        }

        &--current {
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: var(--color-black);

            @include tablet {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    &__btn {
        margin-bottom: 20px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        max-width: 380px;
        width: 100%;

        img {
            @include tablet {
                max-width: 160px;
                height: 28px;
            }
        }
        
    }
}