<section class="banner">
  <div class="container banner-container">
    <a href="#" class="banner__link" aria-label="рекламный баннер">
      <div class="banner__text">
        <h2 class="banner__title title">
          Autumn Giveaways for FREE
        </h2>
        <p class="banner__descr">
          Participate in Autumn Giveaway and
          treat yourself
          to nice and refreshing
          cosmetics for free
        </p>
      </div>
      <div class="banner__img">
        <img src="../img/banner_picture.png" alt="">
      </div>
    </a>
  </div>
</section>