<footer class="footer">

  <div class="footer__top">
    <div class="container footer-container">
      <div class="footer__wrapper">
        <div class="footer__column column">
          <h3 class="column__title subtitle">
            Privacy and Terms
          </h3>
          <p class="column__item">
            Privacy Policy
          </p>
          <p class="column__item">
            Terms of use
          </p>
        </div>
        <div class="footer__column column">
          <h3 class="column__title subtitle">
            Need Help?
          </h3>
          <a href="#" class="column__link">
            mail@gmail.com
          </a>
        </div>
        <div class="footer__column column">
          <h3 class="column__title subtitle">
            Social
          </h3>
          <a href="#" class="column__link">
            Facebook
          </a>
          <a href="#" class="column__link">
            Instagram
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copy">
        © All Rights Reserved
      </p>
    </div>
  </div>
</footer>