<section class="form">
    <div class="form-container container">
        <form class="form-block" id="regForm" action="">


            <div class="tab">
                <div class="tab__content">
                    <div class="tab__text">
                        <h3 class="tab__title">
                            Step 1
                        </h3>
                        <h4 class="tab__subtitle">
                            Lorem ipsum dolor
                            sit amet
                        </h4>
                        <p class="tab__descr">
                            Aliquam urna arcu, scelerisque vel viverra sed, pellentesque sit amet metus. Curabitur at
                            luctus massa. Vestibulum pretium sem tortor, vitae mattis odio accumsan vitae. Fusce id
                            luctus erat:
                        </p>
                        <ol class="tab-list">
                            <li class="tab-list__item">Mauris rutrum interdum condimentum.</li>
                            <li class="tab-list__item">Donec commodo quis arcu eget pretium.</li>
                        </ol>
                        <button class="btn btn-reset tab__btn form-btn" onclick="nextPrev(1)">
                            Agree and continue
                        </button>
                    </div>
                    <div class="tab__background">
                        <img src="../img/background.png" alt="">
                    </div>
                </div>
            </div>

            <div class="tab">
                <div class="tab__wrapper">
                    <div class="tab__content">
                        <div class="tab__text">
                            <h3 class="tab__title">
                                Step 2
                            </h3>
                            <h4 class="tab__subtitle">
                                Share Facebook post
                            </h4>
                            <p class="tab__descr">
                                To participate in this giveaway please share this giveaway offer with your friends. Not
                                only
                                your friends will appreciate this offer but you will receive $10 Amazon Gift Card for
                                each
                                of your friends that participates in this giveaway!
                            </p>
                            <button class="btn btn-reset tab__btn form-btn" onclick="nextPrev(1)">
                                Agree and continue
                            </button>
                        </div>
                        <div class="tab__background post">
                            <img src="../img/facebook_post.jpg" alt="">
                        </div>
                    </div>
                    <div class="press-img">
                        <img class="press" src="../img/press_here_block.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="tab">
                <div class="tab__content">
                    <div class="tab__text">
                        <h3 class="tab__title">
                            Step 3
                        </h3>
                        <h4 class="tab__subtitle">
                            Amazon Prime
                        </h4>
                        <p class="tab__descr">
                            Do you have an Amazon Prime account?
                        </p>
                        <p class="tab__descr">
                            To be able to participate in this giveaway you need to have Amazon Prime.

                        </p>
                        <div class="tab__btns">
                            <button class="btn btn-reset tab__btn form-btn" onclick="nextPrev(1)">
                                Yes, i have
                            </button>
                            <button class="btn btn-reset tab__btn form-btn tab__btn--grey" onclick="nextPrev(1)">
                                no, i don’t have
                            </button>
                        </div>
                    </div>
                    <div class="tab__background">
                        <img src="../img/background.png" alt="">
                    </div>
                </div>
            </div>

            <div class="tab">
                <div class="tab__content">
                    <div class="tab__text">
                        <h3 class="tab__title">
                            Step 4
                        </h3>
                        <h4 class="tab__subtitle">
                            How to Buy a Product
                            with 100% BONUS!
                        </h4>
                        <p class="tab__descr tab-descr tab-descr--one">
                            You need to Buy our Product on Amazon at the specified price $20.89!
                        </p>
                        <p class="tab__descr tab-descr tab-descr--two">
                            You need to Buy our Product on Amazon at the specified price $20.89!
                        </p>
                        <p class="tab__descr tab-descr tab-descr--three">
                            You need to Buy our Product on Amazon at the specified price $20.89!
                        </p>
                        <p class="tab__descr tab-descr tab-descr--four">
                            You need to Buy our Product on Amazon at the specified price $20.89!
                        </p>
                        <p class="tab__descr tab-descr tab-descr--gift">
                            You need to Buy our Product on Amazon at the specified price $20.89!
                        </p>
                        <button class="btn btn-reset tab__btn form-btn" onclick="nextPrev(1)">
                            Get Offer
                        </button>
                        <button class="btn btn-reset tab__btn form-btn tab__btn--opacity" onclick="nextPrev(1)">
                            I don't like offer terms
                        </button>
                    </div>
                    <div class="tab__background">
                        <img src="../img/background.png" alt="">
                    </div>
                </div>
            </div>

            <div class="tab">
                <div class="tab__content">
                    <div class="tab__text">
                        <h3 class="tab__title">
                            Step 5
                        </h3>
                        <h4 class="tab__subtitle tab__subtitle--wide">
                            Buy and Provide order ID
                            to our Manager
                        </h4>
                        <p class="tab__descr">
                            Click the button <span>GO TO AMAZON</span> and <span>Buy a Product</span>
                        </p>
                        <button class="btn btn-reset tab__btn tab__btn--logo form-btn" onclick="nextPrev(1)">
                            Go to amazon
                        </button>
                        <p class="tab__descr tab__descr--less-magin">
                            Click on the button below and &nbsp;<span>Provide Order ID
                                to our Manager</span> in FB Messenger
                        </p>
                        <p class="tab__descr tab__descr--italic">
                            (If you have any questions, you can ask them to our Manager)
                        </p>
                        <button class="btn btn-reset tab__btn form-btn" onclick="nextPrev(1)">
                            provide order id
                        </button>
                    </div>
                    <div class="tab__background">
                        <img src="../img/background.png" alt="">
                    </div>
                </div>
            </div>

            <div class="pagination">
                <div class="step active">
                    <p>1</p>
                </div>
                <div class="step">
                    <p>2</p>
                </div>
                <div class="step">
                    <p>3</p>
                </div>
                <div class="step">
                    <p>4</p>
                </div>
                <div class="step">
                    <p>5</p>
                </div>
            </div>

        </form>
    </div>
</section>