<div class="instruction">
    <div class="container instruction-container">
        <h2 class="instuction__title title">
            How does it work?
        </h2>
        <div class="instruction__content points">
            <div class="point">
                <div class="point__content ">
                    <div class="point-text">
                        Easy&nbsp;
                    as&nbsp;
                    1-2-3
                    </div>
                    
                </div>
                <h4 class="point__title">
                    Choose product
                </h4>
            </div>
            <div class="point">
                <div class="point__content">
                    <img src="../img/choose-product.svg" alt="">
                </div>
                <h4 class="point__title">
                    Choose product
                </h4>
            </div>
            <div class="point">
                <div class="point__content">
                    <img src="../img/buy-product.svg" alt="">
                </div>
                <h4 class="point__title">
                    Buy product
                </h4>
            </div>
            <div class="point">
                <div class="point__content">
                    <img src="../img/message.svg" alt="">
                </div>
                <h4 class="point__title">
                    Test and share review
                </h4>
            </div>
            <div class="point">
                <div class="point__content">
                    <img src="../img//money-back.svg" alt="">
                </div>
                <h4 class="point__title">
                    Get 100% money back
                </h4>
            </div>
        </div>
    </div>
</div>