<section class="overview">
    <div class="container overview-container">
        <div class="overview__wrapper">
            <h2 class="overview__title title">
                Overview
            </h2>
            <p class="overview__subtitle subtitle">
                Who It's For
            </p>
            <p class="overview__descr">
                Very Dry, Dry, Dry Combination Skin (Type 1, 2)
            </p>
            <p class="overview__subtitle subtitle">
                What It Is
            </p>
            <p class="overview__descr">
                Step 3&nbsp;in&nbsp;our customized 3-Step Skincare System.
                Dermatologist-developed face moisturizer softens, smooths, improves. Leaves skin glowing.
            </p>
            <p class="overview__subtitle subtitle">
                What It Does
            </p>
            <ul class="overview__list">
                <li class="overview__item">
                    Silky lotion delivers 8-hour hydration.
                </li>
                <li class="overview__item">
                    Slips on easily, absorbs quickly.
                </li>
                <li class="overview__item">
                    Helps strengthen skin’s own moisture barrier so more moisture stays in. Skin that holds onto moisture
                    has a youthful-looking glow.
                </li>
            </ul>
            <a href="#" class="overview__readmore">Read more...</a>
        </div>
    </div>
</section>