<section class="product-card">
    <div class="container">
        <div class="product-card__content">
            <div class="product-card__slider slider">

            </div>
            <div class="product-card__info info">
                <div class="info__grade">
                    <div class="info__type">
                        Best seller
                    </div>
                    <div class="info__rate">
                        <img src="../img/star.svg" alt="">
                        <img src="../img/star.svg" alt="">
                        <img src="../img/star.svg" alt="">
                        <img src="../img/star.svg" alt="">
                        <img src="../img/star.svg" alt="">
                    </div>
                </div>
                <h3 class="info__title">
                    Acne Treatment Cystic Acne heals, repairs & renews
                </h3>
                <h4 class="info__subtitle subtitle">
                    Description:
                </h4>
                <p class="info__descr">
                    Addictively refreshing gel-cream leaves skin plump, dewy, glowing.
                </p>
                <div class="info__count">
                    items left: 12
                </div>
                <div class="info__prices">
                    <span class="info__price--old">us$25.89</span>
                    <span class="info__price--current">$0.00 FREE</span>
                </div>
                <a href="#" class="btn btn-reset info__btn">
                    Select
                </a>
                <div class="info__logo">
                    <img src="../img/amazon_prime_logo.svg" alt="logo amazon-prime">
                </div>
            </div>
        </div>
    </div>
</section>