@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff") url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}



@import "fonts";


.header {
    color: red;
    &__inner {
        margin: 10px;
    }
}
* {
    font-size: 40px;
    font-family: 'HelveticaNeue' sans-serif;
    color: red;
}